.main {
    background-color: hsl(218, 23%, 16%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
    padding: 15px 0;
    max-width: 357px;
}

.adviceText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adviceId {
    color: hsl(150, 100%, 66%);
    font-size: 10px;
    font-family: 'Manrope';
    letter-spacing: 3px;
}

.fetchPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adviceParagraph {
    color:  hsl(193, 38%, 86%);
    font-size: 28px;
    font-family: 'Manrope';
    text-align: center;
    width: 85%;
    max-width: 302px;
    min-width: 302px;
    margin-bottom: -30px;
}

.dividerDesk {
    display: none;
}

.dividerMob {
    margin-bottom: 40px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: hsl(150, 100%, 66%);
    height: 25px;
    width: 25px;
    padding: 15px;
    border-radius: 100%;
    top: 120px;
    transition: ease-in-out 0.4s;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 0 40px 1px hsl(150, 100%, 66%);
}

@media(min-width: 1440px) {
    .box {
        width: 40%;
        max-width: 576px;
    }

    .adviceParagraph {
        max-width: unset;
        max-width: 489px;
        min-width: 489px;
    }

    .dividerDesk {
        display: block;
        margin-bottom: 60px;
    }
    
    .dividerMob {
        display: none;
    }
}